<div class="container">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="{% url 'phome'%}" class="nav-link active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="{% url 'dviewdata' %}" class="nav-link">Doctorviewdata</a></li>
            <li class="nav-item"><a href="{% url 'patientprofile'%}" class="nav-link">Profile</a></li>
            <li class="nav-item"><a href="{% url 'patientviewprofile'%}" class="nav-link">viewprofile</a></li>
            <li class="nav-item"><a href="{% url 'patient_dashboard'%}" class="nav-link">Appointments</a></li>
            <li class="nav-item"><a href="{% url 'viewlabtest'%}" class="nav-link">viewlabtest</a></li>


        </ul>
    </header>
</div>